<h2>Home</h2>

{{#if products.length}}
    {{#each products}}
    <div>
        <p>Title: {{title}}</p>
        <p>Description: {{description}}</p>
        <p>Code: {{code}}</p>
        <p>Price: {{price}}</p>
        <p>Stock: {{stock}}</p>
        <p>Category: {{category}}</p>
    <br>
    </div>
    {{/each}}
{{else}}
    <p>No existen productos!</p>
{{/if}}

